# Ignore NPM modules and log files
npm-debug.log
node_modules

# Ignore git-related files
.git
.gitignore

# Ignore license and readme file, there is just no point in having it on the container
LICENSE
README

# Ignore env
.env